* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
}

.logo {
    background-image: url("../img/logo1.png");
    background-size: cover;
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-left: 15px;
}
.architect {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    vertical-align: top;
    padding-left: 20px;
}

.nav-menu{
    display: inline-block;
    text-decoration: none;
    color: #fafafa;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 10px;
}
.serch{
    background-image: url("../img/search .png");
    width: 17px;
    height: 17px;
    background-size: cover;
}

.right-img{
    background-color:#000000;
    padding: 30px;
}
.nav-menu:hover{
    color: #14B9D5;
}






.main-section-city {
    background-image: url("../img/section1.png");
    background-size: cover;
    width: 100%;
}

.main-news {
    width: 100%;
    padding-top: 100px;
    text-align: center;
    color: #FFFFFF;
    font-size: 27px;
}
.nav-buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

.subscribe{
    background-color: #89CA62;
    padding: 16px;
    color: #fafafa;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 10px;
}
.best{
    background-color:  #14B9D5;
    padding:16px 27px 16px 27px;
    color: #fafafa;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
}






.main-popular{
    background-color: #F2F2F2;
}
.img-canada{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 90px;
}
.popular{
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;

}
.canada{
    background-image: url("../img/canada.png");
    width: 370px;
    height: 259px;

}
.canada-post{
    text-align: center;
    margin-right: 30px;
}
.museum-menu{
    text-align: center;
    margin-right: 30px;
}
.sunrise-menu{
    text-align: center;
}

.text{

    background-color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sunrice {
    background-image: url("../img/sunrice.png");
    width: 370px;
    height: 380px;
}

.museum{
    background-image: url("../img/museum.png");
    width: 370px;
    height: 290px;
}

.hotel-canada{
    background-image: url("../img/vanglo-house-6.png");
    width: 370px;
    height: 260px;

}
.room{
    background-image: url("../img/room.png");
    width: 370px;
    height: 247px;

}
.balkony{
    background-image: url("../img/balkony.png");
    width: 370px;
    height: 380px;

}



.main-section-room{
    background-image: url("../img/section2.jpeg");
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    justify-items: center;
    align-items: center;
    height: 588px;
}

.clients{
    width: 500px;
    height:142px;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #fafafa;
    grid-column: 1/-1;
    padding-top: 106px;
    padding-bottom: 60px;
}
.clients:after{
    content: "";
    display: inline-block;
    height: 1px;
    width: 60px;
    border: none;
    border-top: 1px solid #18B4CF;
    position: relative;
    left: 210px;
    top: 80px;

}
.national{
    background-image: url("../img/Layer 3.png");
    width: 207px;
    height: 28px;
    margin-bottom: 60px;
}
.dryme{
    background-image: url("../img/logo-8.png");
    width: 135px;
    height: 49px;
    margin-bottom: 60px;
}
.house-home{
    background-image: url("../img/Layer 2.png");
    width: 232px;
    height: 51px;
    margin-bottom: 60px;
}
.jorney{
    background-image: url("../img/logo-3.png");
   width: 141px;
    height: 52px;
    margin-bottom: 60px;
}





.main-section-pictures{
    display: grid;
    grid-template-columns: repeat(7,14.2%);
    justify-items: center;
    /*overflow: hidden;*/
}
.top{
    color: #18B4CF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    grid-column: 1 / -1;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img1{
    background-image: url("../img/img1.png");
    width: 271px;
    height: 190px;

}
.img2{
    background-image: url("../img/img2.png");
    width: 271px;
    height: 190px;

}
.img3{
    background-image: url("../img/img3.png");
    width: 271px;
    height: 190px;
}
.img4{
    background-image: url("../img/img4.png");
    width: 271px;
    height: 190px;

}
.img5{
    background-image: url("../img/img5.png");
    width: 271px;
    height: 190px;
}
.img6{
    background-image: url("../img/img6.png");
    width: 271px;
    height: 190px;
}
.img7{
    background-image:url("../img/img7.png");
    width: 271px;
    height: 190px;
}




.main-section-news{
text-align: center;
    display: grid;
}

.hot-news{
    font-size: 27px;
    color: #18B4CF;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
}

.hotels-section{
    display: grid;
    width: 1180px;
    grid-template-columns: repeat(4 , 277px);
    grid-template-rows: 259px repeat(2 ,418px) 259px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.western-pyramid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;
    align-content: space-evenly;
    grid-column: 1/4;

}
.text-pyramid{
    width: 370px;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.title-pyramid{
    text-align: center;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
}

.nebula-hotel{
    display: flex;
    flex-direction: column;
    grid-column: 4/5;
}
.title-nebula{
    text-align: center;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}
.wanderlust{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;
    align-content: space-evenly;
    grid-column: 1/3;
}
.text-wanderlust{
    width: auto;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.title-wanderlust{
    text-align: right;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    padding-right: 25px;
}
.title-sanctuary{
    text-align: right;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    padding-right: 25px;
}
.text-sanctuary{
    width: auto;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.twin-sanctuary{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;
    align-content: space-evenly;
    grid-column: 3/5;
}
.resort{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;
    align-content: space-evenly;
    grid-column: 1/3;
}

.title-resort{
    text-align: right;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    padding-right: 25px;
}
.text-resort{
    width: auto;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;

}
.grand{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;
    align-content: space-evenly;
    grid-column: 3/5;
}
.text-grand{
    width: auto;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.prism-hotel{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
}
.title-prism{
    text-align: center;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;

}
.kings{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;
    align-content: space-evenly;
    grid-column: 2/5;
}
.title-kings{
    text-align: center;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
}
.text-king{
    width: 370px;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}




.footer{
    width: 100%;
    background-color: #000000;

}
.footer-text{
    color: #fafafa;
    font-size: 13px;

}
.footer-content{
    width: 1180px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-text{
    text-align: left;
    font-size: 13px;
    line-height: 13px;
}
.pictures{
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    grid-column: 4/5;

}

























.clearfix:after{
    content: '';
    display: block;
    clear: both;
}