* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-zone {
    margin-bottom: 30px;
}

.head {
    font-size: 80px;
    text-decoration: none;
    color: #1e1e1e;
    text-align: center;
}

.blue-text {
    color: #00aaca
}

.nav-bar {
    text-align: center;
    margin-top: 40px;
    background: #35444F
}

.nav-bar-link {
    display: inline-block;
    padding: 20px 50px;
    color: #fafafa;
    text-decoration: none;
    border: 1px solid transparent;
    border-left-color: black;
}

.nav-bar-link-last {
    border-right-color: black;
}

.conteiner-nav-menu {
    display: inline-block;
    vertical-align: top;
    border: 2px solid grey;
    width: 344px;
    height: 399px;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    width: 350px;
}

.sidebar-link {
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    font-size: 28px;
    display: inline-block;
    padding: 25px 30px;
    color: #1e1e1e;
}


.tour-item-img {
    display: inline-block;
    vertical-align: top;
    width: 850px;
    margin-left: 73px;


}

.container-img {
    border: 2px solid grey;
    padding: 80px 300px;
}

.conteiner-main-menu {
    display: inline-block;
}

.content-img-wrapper {
    width: 100%;
}


.main-text {
    margin: 40px 0px;
    line-height: 1.5;
    font-size: 18px;
}

.footer-zone {
    box-sizing: border-box;
    background-color: #9f9f9f;
    padding: 25px 20px;
}

.nav-footer {
    display: inline-block;
    margin-right: 250px;
}

.nav-footer-link {
    display: inline-block;
    text-decoration: none;
    color: #1e1e1e;
    margin: 0 15px;
    font-size: 24px;
}

.copyright {
    display: inline-block;
    font-size: 20px;
}
