* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*}*/

.page-header {
    background: url("../img/background 1.png") center no-repeat;
    background-size: cover;
    height: 100%;
    overflow: scroll;

}

.container {
    padding-top: 20px;
    width: 1020px;
    margin: 0 auto;
}

.company {
    float: left;
}

.img {
    width: 53px;
}

.company:hover .img-hotel {
    content: url("../img/logo 2.png");
}

.company:hover .title {
    color: orangered;
}

.title {
    color: #fafafa;
    text-transform: uppercase;
    display: inline-block;
    font-size: 29px;
}

.title-holidays {
    font-size: 18px;
}

.header-info {
    float: right;
    text-align: right;
}

.header-info-text{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #fafafa;
    line-height: 1.5;
}

.header-info-text:first-child{
    display: block;
}
.header-info-text:hover {
    color: orangered;
}

.tour-item {
    width: 300px;
    float: left;
    margin-right: 53px;
    margin-top: 30px;
    text-decoration: none;
    color: #fafafa;
    line-height: 2;
}

.tour-item:nth-child(3n) {
    margin-right: 0;
}


.tour-item-img {
padding-top: 170px;
    height: 57px;
}

.tour-item-details {
    background-color: orangered;
    padding: 0px 5px;
    opacity: 0;
}

.tour-item:hover .tour-item-details {
    opacity: 1;
}

.tour-item:hover .tour-item-name {
    color: orangered
}

.tour-item-name {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
}

.tour-item-price {
    display: inline-block;
    padding-left: 10px;
    font-size: 10px;
    line-height: 1.5;
    margin-top: 10px;
}

.tour-item-price:first-child{
    display: inline-block;
}

.euro {
    font-size: 20px;
    display: block;
}

.tour-item-ditails {
    float: right;
    padding-right: 10px;
    margin-top: 25px;
    font-size: 14px;
}

.tour-item-ditails:after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-color: #fafafa;
    border-right-color: #fafafa;
    transform: rotate(45deg);
    margin-left: 20px;
}



.shoppig-bg {
    background: url("../img/Layer 21.png") center no-repeat;
    background-size: cover;
}

.sightseeing-bg {
    background: url("../img/Layer 22.png") center no-repeat;
    background-size: cover;

}

.food-bg {
     background: url("../img/Layer 23.png") center no-repeat;
     background-size: cover;

 }

.bars-bg {
      background: url("../img/Layer 24.png") center no-repeat;
      background-size: cover;

  }

.art-bg {
       background: url("../img/Layer 25.png") center no-repeat;
       background-size: cover;

   }

.walking-bg {
        background: url("../img/Layer 26.png") center no-repeat;
        background-size: cover;

    }

.footer {
    text-align: center;
    padding: 30px 0 15px 0;
    color: #fafafa;
    font-size: 12px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}