* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.bg-main{
    background: url("../img/Fon 1.png") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}



.nav-menu-header {
    width: 100%;
    background: #9f9f9f;
    height: 60px;
    background: rgba(0, 0, 0, 0.4)
}

.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.jorney {
    font-size: 20px;
    display: inline-block;
    color: #fafafa;
    float: left;
    margin-top: 15px;
    vertical-align: top;
}

.jorney:hover {
    color: #3CB878;
}


.icon {
    display: inline-block;
    background-image: url("../img/css_sprites.png");
    width: 28px;
    height: 23px;
    margin-right: 20px;
}

.icon.calc {
    background-position: 365px -19px;
}

.icon.calc:hover {
    background-position: 425px -19px;
}

.icon.calend {
    background-position: 537px -19px;
}

.icon.calend:hover {
    background-position: 606px -19px;
}

.icon.compas {
    background-position: 735px 42px;
}

.icon.compas:hover {
    background-position: 795px 42px;
}
.right-content{
    float:right;
    margin-top: 15px;
    vertical-align: top;
}

.welcome {
    font-size: 14px;
    margin-left: 40px;
    color: #fafafa;
    text-transform: capitalize;
}

.log {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
}

.log:hover {
    color: green;
}

.sing-log {
    font-size: 14px;
    color: white;
    padding-left: 9px;
}

.sing {
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.sing:hover {
    color: #3CB878;
}

.form-input{
    margin: 0 auto;
}

.form {
    display: block;
    transform: translateY(calc((100vh - 635px) / 2));
    width: 300px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
}


.sing-up-form {
    display: inline-block;
    color: #434343;
    float: left;
    text-transform: capitalize;
}

.login {
    display: inline-block;
    float: right;
    font-size: 14px;
    text-decoration: none;
    color: #3CB878;
}


.sing-up-form:before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 28px;
    left: 0;
    display: inline-block;
}

.facebook {
    float: left;
}

.google{
    float: right;
}

.facebook-goole-link {
    margin-top: 36px;
}

.button-fk{
    border: none;
    border-radius: 5px;
    background-color: #305DB8;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.icon.icon-fk{
    background-position:478px -19px ;
}

.name-fk{
    position: relative;
    left: 4px;
    bottom: 8px;
    color: #fafafa;
}

.name-fk:before{
    content: "";
    height: 28px;
    width: 1px;
    opacity: 0.1;
    border: none;
    margin-right: 5px;
    border-right: #0A162F solid;
    display: inline-block;
    position: relative;
    right: 26px;
    top: 11px;
}

.button-google{
    border: none;
    border-radius: 5px;
    background-color: #DF4A32;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.icon.icon-google{
    background-position:183px -16px ;
}

.name-google{
    position: relative;
    left: 4px;
    bottom: 8px;
    color: #fafafa;
}

.name-google:before{
    content: "";
    height: 28px;
    width: 1px;
    opacity: 0.1;
    border: none;
    margin-right: 5px;
    border-right: #0A162F solid;
    display: inline-block;
    position: relative;
    right: 26px;
    top: 11px;
}

.or {
    font-size: 14px;
    text-align: center;
    color: #848484;
}

.or:before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 135px;
    border: none solid;
    border-top: 1px solid #848484;;
    margin-right: 5px;
}

.or:after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 135px;
    border: none solid;
    border-top: 1px solid #848484;;
    margin-left: 5px;
}

.input-name{
    display: block;
}

.name {
    box-sizing: border-box;
    margin-top: 16px;
    width: 100%;
   padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.name::placeholder {
    text-transform: capitalize;
    padding-left: 10px;
    border: none;
}

.name:focus {

    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
    outline-offset: 0;

}

.last-name {
    margin-top: 16px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.last-name::placeholder {
    text-transform: capitalize;
    padding-left: 10px;
}

.last-name:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
    outline-offset: 0;
}

.email {
    margin-top: 16px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.email::placeholder {
    text-transform: capitalize;
    padding-left: 10px;
}

.email:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
    outline-offset: 0;
}

.password {
    margin-top: 16px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.password::placeholder {
    text-transform: capitalize;
    padding-left: 10px;
}

.password:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
    outline-offset: 0;
}

.terms {
    color: #3CB878;
}

.chek {
    margin-top: 16px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.create-account {
    margin-top: 16px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #fafafa;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    background-color: #3CB878;
    border-radius: 5px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

