*{
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;;
}

.table{
    width: 1190px;
    margin-right:  auto;
    margin-left: auto;
    margin-top: 30px;
    border-collapse: collapse;
    border: 25px solid #3A4965;
}

.head{
    border: 1px solid lightsteelblue;

}
.coose-prise{
    vertical-align: middle;
    padding: 10px 75px 0px 80px;
    text-align: center;
}
.choose{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.pricing{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.standart{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 60px;
    padding-right: 58px;
    padding-bottom: 29px;
    background-color: #89C331;
    color: white;
}
.ultimate{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 60px;
    padding-right: 58px;
    padding-top: 18px;
    background-color: #F04A56;
    color: white;
}

.premium{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 18px;
    background-color: #20807C;
    color: white;
}

.price {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    padding-left: 31px;
    padding-top: 10px;

}

.price-coins {
    position: absolute;
    top: 0;
    font-size: 24px;
    padding-top: 5px;
}

.price-plan {
    position: absolute;
    top: 20px;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 5px;
    display: inline-block;
}

.line:nth-child(2n+2){
    background-color: #E3E3E3;
}
.first-colum{
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 28px;
    padding-bottom: 28px;
}
.icon{
    padding-right: 10px;
    color: #848484;
    font-size: 20px;
}


.line{
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 20px;
}

.nav-button{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #20807C;
}


.btn-buy{
    color: white;
    background-color: #484848;
    border: none;
    border-bottom: #404040 10px solid;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 20px 40px 15px;
    margin: 20px
}

.green{
    background-color: #89C331;
    border-bottom: #79B027 10px solid;
}
.red{
    background-color: #F04A56;
    border-bottom: #DF3A46 10px solid;
}
.blu{
    background-color: #20807C;
    border-bottom: #16736F 10px solid;
}